{% load static %}
<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portail eService</title>
    <link rel="stylesheet" href="../static/accueil.css">
    <script type="importmap">
    {
      "imports": {
        "app": "./script.js"
      }
    }
    </script>
</head>
<body>
    <div class="main-content">
        <header>
            <div class="logo-area">
                <img src="logo.png" alt="Logo DGDI" class="logo">
            </div>
            <div class="title-area">
                <h1>Plateforme d'établissement des titres</h1>
                <h2>Portail Service</h2>
            </div>
        </header>

        <main>
            <section class="welcome-message">
                <h3>Bienvenue sur le portial du consula</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, 
                    saepe maxime similique laborum molestiae nam et 
                    quidem officia sequi blanditiis reprehenderit? Atque ipsa porro sint, obcaecati 
                    dolorem nobis quam assumenda!
                </p>
            </section>
        </main>


    </div>

   

    <script type="module" src="app"></script>
</body>
</html>